entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false

api:
  dashboard: true

certificatesResolvers:
  myresolver:
    acme:
      email: {{ cloudflare_email }}
      storage: "acme.json"
      dnsChallenge:
        provider: cloudflare

http:
  routers:
    traefik:
      rule: "Host(`traefik.{{ domain }}`)"
      service: api@internal
      entryPoints:
        - websecure
      tls:
        certResolver: myresolver
