# Traefik Configuration Template (traefik.yml.j2)

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
  openvpn:
    address: ":1194"

api:
  dashboard: true

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    watch: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: "{{ email }}"
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web

# Middleware for authentication (optional)
middlewares:
  auth:
    basicAuth:
      users:
        - "admin:{{ traefik_dashboard_password_hash }}"

# HTTP Configuration
http:
  routers:
    # Router for Traefik Dashboard (optional)
    traefik-dashboard:
      entryPoints:
        - websecure
      rule: Host(`traefik.{{ domain }}`)
      service: api@internal
      tls:
        certResolver: letsencrypt
      middlewares:
        - auth  # Secures the dashboard with basic auth

# TCP Configuration for OpenVPN
tcp:
  routers:
    openvpn:
      entryPoints:
        - openvpn
      rule: "HostSNI(`*`)"
      service: openvpn-service
      tls:
        passthrough: true

  services:
    openvpn-service:
      loadBalancer:
        servers:
          - address: "127.0.0.1:1194"
